/***DESKTOP MEDIA QUERIES***/

/***SECTIONS***/

body {
  background-color: #677c69;
  color: #d8bc97;
  margin-right: 10em;
  margin-left: 10em;
}

#intro {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: 2em;
}

.intro-heading {
  width: 80%;
  justify-content: flex-end;
}

.intro-description {
  width: 15%;
  font-size: 1.5em;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-style: normal;
}

/***EXPERIENCE SECTION***/
#Experience {
  display: flex;
  flex-direction: column;
}

#Experience ul {
  padding-left: 0px;
  flex-direction: column;
  width: 100%;
  text-align: center;
}

#coursework {
  /***display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;**/
  align-items: center;
  padding-top: 4em;
}

#box-2 {
  margin-top: 3em;
}

#work {
  flex-direction: column;
  align-items: center;
  padding-top: 4em;
}

#work ul li {
  border: solid 2px #d8bc97;
}

.work-item {
  width: 40%;
  margin-top: 3em;
  padding-top: 3em;
  padding-bottom: 3em;
  border: solid 2px #d8bc97;
}

.experience-eduction {
  display: flex;
  flex-direction: column;
}

.experience-box {
  border: solid 2px #d8bc97;
  width: 40%;
  padding-top: 3em;
  padding-bottom: 3em;
}

/***Skills Section***/
#code-skills {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

#code-skills li {
  padding: 3em;
  width: 15%;
  text-align: center;
}

/***NAVIGATION***/
nav {
  display: flex;
  justify-content: space-between;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

nav ul li {
  padding-right: 20px;
}

/***FORM***/

#leave-message form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25em;
}

label[for='usersName'],
label[for='usersEmail'],
label[for='usersMessage'] {
  color: #d8bc97;
  font-weight: bold;
  font-size: 1.5em;
}

input[for='usersName'],
input[for='usersEmail'],
input[for='usersMessage'] {
  padding: 0.75em 10em;
}

#usersName,
#usersEmail,
#usersMessage {
  padding: 1em 10em;
  border-radius: 100vw;
  margin-bottom: 2em;
  border: none;
  outline: none;
}

/***HEADINGS***/

.logo p {
  font-weight: bold;
}

nav p {
  font-size: 1.5em;
}

nav li a {
  font-size: 1em;
  text-decoration: none;
  color: #d8bc97;
}

h1 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 6.5em;
  margin-top: 180px;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 3em;
}

h3 {
  font-size: 2em;
}

.intro-decription h2 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-style: normal;
}

p,
li {
  font-family: 'Cormorant Garamond', serif;
  font-optical-sizing: auto;
  font-weight: medium;
  font-style: normal;
  font-size: 1.5em;
}

p {
  font-size: 1.5em;
}

/***Buttons***/

button {
  padding: 0.5em 3em;
  border-radius: 100vw;
  color: #677c69;
  font-weight: bold;
  font-size: 1.5em;
  background-color: #e9b14c;
  border: none;
}

.remove-btn {
  padding: 0.5em 3em;
  border-radius: 100vw;
  color: #677c69;
  font-weight: bold;
  font-size: 1.5em;
  background-color: #e9b14c;
  border: none;
}

/***Footer***/

#Connect {
  text-align: center;
  flex-direction: column;
}

#Connect p {
  margin: 0;
  justify-content: center;
  text-align: center;
}

#contact a {
  justify-content: center;
  text-align: center;
  color: #d8bc97;
  font-family: 'Nunito Sans', sans-serif;
  text-transform: lowercase;
  font-style: normal;
  font-size: 20px;
}

#Connect .content-wrapper {
  max-width: 640px;
  width: 80%;
  margin: 50px 0;
  align-items: center;
}

#Connect .contact {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  text-align: center;
}

#Connect .contact-info p {
  color: #d8bc97;
  text-align: center;
}

#Connect .contact-info p a {
  color: #d8bc97;
  text-decoration: none;
}

#contact img {
  width: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 7px double #351d77;
  margin-top: 30px;
}

#Connect .social-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#Connect .social-icons p {
  display: flex;
  flex-wrap: wrap;
}

#Connect .social-icons p i {
  font-size: 2em;
  color: #e9b14c;
}

#Connect .copyright {
  margin: 0;
  margin-top: 80px;
  justify-content: center;
  text-align: center;
  width: 100%;
  font-size: 1em;
}

/****************************************************************************************/

/***MOBILE MEDIA QUERIES***/

@media (max-width: 600px) {
  /***sections***/

  nav {
    max-width: 100vw;
    overflow-x: hidden;
    flex-wrap: wrap;
  }

  body {
    display: block;
    width: 100%;
    margin-right: 2em;
    margin-left: 2em;
  }

  #intro {
    flex-direction: column;
    width: 100%;
  }

  .intro-heading {
    width: 100%;
  }

  .intro-description {
    width: 100%;
  }

  #code-skills {
    display: flex;
    flex-flow: column;
  }

  .content-wrapper {
    width: 90%;
  }

  /***EXPERIENCE SECTION***/
  #coursework {
    flex-direction: column;
    align-items: center;
  }

  #box-2 {
    margin-top: 3em;
  }

  .experience-box {
    width: 70%;
  }

  .work-item {
    width: 70%;
  }

  /***MESSAGE***/
  #usersName,
  #usersEmail,
  #usersMessage {
    padding: 0.75em 6em;
  }
  /***Headings***/

  h1 {
    margin-top: 0px;
    font-size: 3em;
  }
}

/*************************************************************************************/
/***TABLET DESIGN*****/

@media (min-width: 601px) and (max-width: 1024px) {
  /***SECTIONS***/

  #intro {
    flex-direction: column;
    width: 100%;
  }

  .intro-description {
    width: 100%;
    margin-bottom: 1em;
  }

  .work-item {
    width: 100%;
  }

  #coursework {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    background-color: pink;
  }

  /***HEADINGS***/

  h1 {
    margin-top: 0px;
    font-size: 4em;
  }
}
